<form class="card shadow-sm p-3 mb-5 bg-white rounded">
  <div *ngIf="loginservice.logged card-body">
    <div class="btn-toolbar justify-content-between">
      <div class="form-group">
        <label>Titolo:</label>
        <textarea class="form-control" [(ngModel)]="post.titolo" name="titolo"></textarea>
      </div>
      <div class="btn-group">
        <button class="form-control"type="button" (click)="save()" class="btn btn-light justify-content-end"><i class="fas fa-save" ></i></button>
        <button class="form-control"type="button" (click)="delete(post)" class="btn btn-light justify-content-end"><i class="fas fa-trash" ></i></button>
      </div>
  </div>
    <div class="form-group">
      <label>Contenuto:</label>
        <textarea class="form-control" [(ngModel)]="post.contenuto" name="contenuto"></textarea>
    </div>
    <button class="btn btn-light" (click)="goBack()">Indietro</button>
  </div>

  <div *ngIf="!loginservice.logged card-body">
     <div class="form-group">
        <h5 class="card-title">{{ post.titolo }}</h5>
      </div>
      <div class="form-group">
        <h6 class="card-subtitle mb-2 text-muted">Scritto da {{ post.autore }} il {{ post.data | date:'medium':'':'it'}}</h6>
      </div>
      <div class="form-group">
       <p class="card-text">{{post.contenuto}}</p>
      </div>
    <button class="btn btn-light" (click)="goBack()">Indietro</button>
  </div>
</form>

