<form class="card shadow-sm p-3 mb-5 bg-white rounded">
  <div class="form-group">
  	<h1>Login</h1>
    <input type="text" class="form-control" placeholder="Username*" #username>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password*" #password>
  </div>
  <div>
    <p id="invalid">{{message}}</p>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)="verify_userpass(username.value,password.value)">Invia</button>
  </div>
</form>