<div class="card shadow-sm p-3 mb-5 rounded bg-warning" *ngIf="loginservice.logged">
  <a routerLink="/new">Scrivi un nuovo articolo</a>
</div>
<div class="card shadow-sm p-3 mb-5 rounded">
	<div class="card-body">
		<ul>
		  <li *ngFor="let post of posts">
		  	<h5 class="card-title">{{ post.titolo }}</h5>
		  	<h6 class="card-subtitle mb-2 text-muted">Scritto da {{ post.autore }} il {{ post.data | date:'medium':'':'it'}}
		  		<i class="fas fa-angle-right details" routerLink="/detail/{{post.id}}"></i></h6>
		  </li>
		</ul>
	</div>
</div>


